/* Gradient : FA6D22  F89E2E  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;

}

body {
    background-image: url(dark_lg.png);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.crsr {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 0.47);
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.main-container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 99%;
    margin: auto;
}

#nav-menu {
    display: block;
    position: fixed;
    top: 120px;
    width: 280px;
}

.links {
    display: block;
    width: 285px;
    padding: 10px 30px 30px 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.055);
    box-shadow: 40px 40px 40px rgba(10, 6, 6, 0.2);
}



.links ul li {
    width: 140px;
    display: flex;
    align-items: center;
    margin-top: 45px;
    gap: 20px;
}


.links ul li span svg {
    color: rgba(255, 255, 255, 0.833);
}

.links ul {
    list-style-type: none;
}

.links ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.833);
    font-size: 1.2rem;
    font-weight: 400;
}

.links .style {
    color: #FA6D22;
}

.links ul li:hover a {
    color: #F97A25;
    cursor: pointer;
}

.links ul li:nth-child(1) {
    color: #F97A25;
}

.links ul li:hover svg {
    color: #F97A25;
    cursor: pointer;

}

#btn {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.811);
    width: 285px;
    background-color: transparent;
    border: 2px solid #fae2ed;
    padding: 8px;
    margin-top: 15px;
    border-radius: 6px;
}

#btn a {
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    color: #F97A25;
    font-size: 1.1rem;
    font-weight: 500;
}

#btn:hover {
    background-color: transparent;
    border: 2px solid #FF0077;
    transition: 0.1s;
    cursor: pointer;
    transform: scale(1.03);
    /* color: white; */
}

#btn:hover a {
    color: white;
}



.title {
    width: 100px;
    /* font-weight: 500; */
    padding: 5px 12px;
    background: linear-gradient(#F89E2E, #FA6D22);
    color: white;
    border-radius: 40px;
    border-bottom-left-radius: 0px;
    font-size: 1rem;
}

.logo {
    padding-top: 3%;
}

.logo a {

    text-decoration: none;

}

.logo1 {
    background-color: transparent;

}

/* .logo1:hover {
    transform: scale(1.1);

} */

.ri-mail-fill,
.ri-linkedin-box-fill,
.ri-github-fill {
    color: #FA6D22;
    font-size: 1.9rem;

}

/* .ri-linkedin-box-fill {
    color: #F97A25;
    font-size: 1.9rem;
} */


/* @keyframes text {
    from {
        font-size: 1.9rem;
    }

    to {
        font-size: 2.1rem;

    }
} */

.ri-mail-fill:hover,
.ri-linkedin-box-fill:hover,
.ri-github-fill:hover {
    color: #e0dbd9;


}

/* .btn1 {
    margin-top: 2%;
    padding: 12px 12px;
    background: linear-gradient(#F89E2E, #FA6D22);
    border-radius: 50px;
    border: none;
    color: white;
}

.btn1:hover {
    background: rgba(255, 255, 255, 0.274);
}

button a {
    text-decoration: none;
    color: white;
}

button a:hover {
    color: white;

} */
#education {
    margin-top: 80px;
    margin-bottom: 100px;
    position: relative;
    left: 35%;
}

#education h2 {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 74vh;
    width: 8px;
    background: linear-gradient(#F89E2E, #FA6D22);

}

#education .eduBox {
    max-width: 750px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#education .box1 {
    width: 240px;
    margin-top: 0.7rem;
    margin-left: 2%;
    padding: 17px 35px 5px 35px;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
}

#education .box1 h4 {
    height: 10px;
    width: 80px;
    background-color: #F89E2E;
    position: absolute;
    left: 23%;
}

#education .boxinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

#education .boxTitle {
    color: rgba(255, 255, 255, 0.705);
}

#education .boxinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

#education .boxTitle {
    color: rgba(255, 255, 255, 0.705);
}

#education .boxinfo .marks {
    background: -webkit-linear-gradient(#F89E2E, #FA6D22);

    font-weight: 700;
}

#education .boxinfo .year {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.358);
    font-style: italic;
    margin-top: 3px;
}




#education .box2 {
    width: 240px;
    position: absolute;
    top: 100%;
    left: 37%;
    padding: 17px 35px 5px 35px;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
}

#education .box2:hover {
    /* animation-name: edu; */
    /* animation-duration: 0.5s; */
    /* animation-direction:normal ; */
    transform: translateY(-7px);
    /* transform: scale(1.03); */
    transition: 0.4s;
    /* background: linear-gradient(#FA6D22, black); */
}

@keyframes edu {
    from {
        /* background: linear-gradient(#F89E2E, #FA6D22); */
        transform: translateY(0px);
    }

    to {
        /* background: linear-gradient(#F89E2E, ); */
        transform: translateY(-10px);
    }
}

#education .box2 h4 {
    height: 10px;
    width: 75px;
    background-color: #F89E2E;
    position: absolute;
    left: -30%;
}

#education .boxinfo2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

#education .boxTitle {
    color: rgba(255, 255, 255, 0.705);
}

#education .boxinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

#education .boxTitle2 {
    color: rgba(255, 255, 255, 0.705);
}

#education .boxinfo2 .marks2 {
    background: -webkit-linear-gradient(#F89E2E, #FA6D22);

    font-weight: 700;
}

#education .boxinfo2 .year2 {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.358);
    font-style: italic;
    margin-top: 3px;
}

#education .box3 h4 {
    height: 10px;
    width: 78px;
    background-color: #F89E2E;
    position: absolute;
    left: 100%;
}

#education .box3 {
    width: 240px;
    position: absolute;
    top: 170%;
    left: 1.5%;
    padding: 17px 35px 5px 35px;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
}

#education .box3:hover {
    animation-name: edu;
    animation-duration: 0.5s;
    animation-direction: normal;
    transform: translateY(-7px);
    /* transform: scale(1.03); */
    transition: 0.4s;
    /* background: linear-gradient(#FA6D22, black); */
}

@keyframes edu {
    from {
        /* background: linear-gradient(#F89E2E, #FA6D22); */
        transform: translateY(0px);
    }

    to {
        /* background: linear-gradient(#F89E2E, ); */
        transform: translateY(-10px);
    }
}

#education .boxinfo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

#education .boxTitle3 {
    color: rgba(255, 255, 255, 0.705);
}

#education .boxinfo3 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

#education .boxTitle3 {
    color: rgba(255, 255, 255, 0.705);
}

#education .boxinfo3 .marks3 {
    background: -webkit-linear-gradient(#F89E2E, #FA6D22);

    font-weight: 700;
}

#education .boxinfo3 .year3 {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.358);
    font-style: italic;
    margin-top: 3px;
}


#education .box4 {
    width: 240px;
    position: absolute;
    top: 240%;
    left: 37%;
    padding: 17px 35px 5px 35px;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
}

#education .box4:hover {
    /* animation-name: edu; */
    /* animation-duration: 0.5s; */
    /* animation-direction:normal ; */
    transform: translateY(-7px);
    /* transform: scale(1.03); */
    transition: 0.4s;
    /* background: linear-gradient(#FA6D22, black); */
}

@keyframes edu {
    from {
        /* background: linear-gradient(#F89E2E, #FA6D22); */
        transform: translateY(0px);
    }

    to {
        /* background: linear-gradient(#F89E2E, ); */
        transform: translateY(-10px);
    }
}

#education .box4 h4 {
    height: 10px;
    width: 75px;
    background-color: #F89E2E;
    position: absolute;
    left: -30%;
}

#education .boxinfo4 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

#education .boxTitle4 {
    color: rgba(255, 255, 255, 0.705);
}

#education .boxinfo4 .marks4 {
    background: -webkit-linear-gradient(#F89E2E, #FA6D22);

    font-weight: 700;
}

#education .boxinfo4 .year4 {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.358);
    font-style: italic;
    margin-top: 3px;
}

.hr-links {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 110%;
    background-color: rgb(0, 0, 0);
    color: orange;
    right: 0.6%;
}

.hr-links ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    /* padding-right: 20px; */
}

.hr-links ul li {
    width: 67px;
    padding-top: 9px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.hr-links ul li span svg {
    color: rgba(255, 255, 255, 0.404);
}

.hr-links ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.404);
    font-size: 0.7rem;
    margin-top: 5px;
    font-weight: 400;
}

.hr-links ul li:hover a {
    color: #F97A25;
    cursor: pointer;
}

.hr-links ul li:hover svg {
    color: #F97A25;
}























@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        margin: auto;
        padding: 0px 70px;
    }

    #nav-menu {
        display: none;
    }

    #nav-menu .links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #education {
        position: absolute;
        top: 0%;
        margin-bottom: 100px;
        position: relative;
        left: 0%;
    }

    #education h2 {
        display: none;
    }

    #education .eduBox {
        max-width: 750px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #education .box1 {
        width: 240px;
        margin-top: 0.7rem;
        margin-left: 2%;
        padding: 17px 35px 5px 35px;
        background-color: rgba(255, 255, 255, 0.055);
        border-radius: 7px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
    }

    #education .box1 h4 {
        display: none;
    }

    #education .boxinfo {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
    }

    #education .boxTitle {
        color: rgba(255, 255, 255, 0.705);
    }

    #education .boxinfo {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
    }

    #education .boxTitle {
        color: rgba(255, 255, 255, 0.705);
    }

    #education .boxinfo .marks {
        background: -webkit-linear-gradient(#F89E2E, #FA6D22);

        font-weight: 700;
    }

    #education .boxinfo .year {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.358);
        font-style: italic;
        margin-top: 3px;
    }




    #education .box2 {
        width: 240px;
        position: absolute;
        top: 100%;
        left: 37%;
        padding: 17px 35px 5px 35px;
        background-color: rgba(255, 255, 255, 0.055);
        border-radius: 7px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
    }

    #education .box2:hover {
        /* animation-name: edu; */
        /* animation-duration: 0.5s; */
        /* animation-direction:normal ; */
        transform: translateY(-7px);
        /* transform: scale(1.03); */
        transition: 0.4s;
        /* background: linear-gradient(#FA6D22, black); */
    }

    @keyframes edu {
        from {
            /* background: linear-gradient(#F89E2E, #FA6D22); */
            transform: translateY(0px);
        }

        to {
            /* background: linear-gradient(#F89E2E, ); */
            transform: translateY(-10px);
        }
    }

    #education .box2 h4 {
        display: none;
    }

    #education .boxinfo2 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
    }

    #education .boxTitle {
        color: rgba(255, 255, 255, 0.705);
    }

    #education .boxinfo {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
    }

    #education .boxTitle2 {
        color: rgba(255, 255, 255, 0.705);
    }

    #education .boxinfo2 .marks2 {
        background: -webkit-linear-gradient(#F89E2E, #FA6D22);

        font-weight: 700;
    }

    #education .boxinfo2 .year2 {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.358);
        font-style: italic;
        margin-top: 3px;
    }

    #education .box3 h4 {
        display: none;
    }

    #education .box3 {
        width: 240px;
        position: absolute;
        top: 170%;
        left: 1.5%;
        padding: 17px 35px 5px 35px;
        background-color: rgba(255, 255, 255, 0.055);
        border-radius: 7px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
    }

    #education .box3:hover {
        animation-name: edu;
        animation-duration: 0.5s;
        animation-direction: normal;
        transform: translateY(-7px);
        /* transform: scale(1.03); */
        transition: 0.4s;
        /* background: linear-gradient(#FA6D22, black); */
    }

    @keyframes edu {
        from {
            /* background: linear-gradient(#F89E2E, #FA6D22); */
            transform: translateY(0px);
        }

        to {
            /* background: linear-gradient(#F89E2E, ); */
            transform: translateY(-10px);
        }
    }

    #education .boxinfo {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
    }

    #education .boxTitle3 {
        color: rgba(255, 255, 255, 0.705);
    }

    #education .boxinfo3 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
    }

    #education .boxTitle3 {
        color: rgba(255, 255, 255, 0.705);
    }

    #education .boxinfo3 .marks3 {
        background: -webkit-linear-gradient(#F89E2E, #FA6D22);

        font-weight: 700;
    }

    #education .boxinfo3 .year3 {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.358);
        font-style: italic;
        margin-top: 3px;
    }


    #education .box4 {
        width: 240px;
        position: absolute;
        top: 240%;
        left: 37%;
        padding: 17px 35px 5px 35px;
        background-color: rgba(255, 255, 255, 0.055);
        border-radius: 7px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.200);
    }

    #education .box4:hover {
        /* animation-name: edu; */
        /* animation-duration: 0.5s; */
        /* animation-direction:normal ; */
        transform: translateY(-7px);
        /* transform: scale(1.03); */
        transition: 0.4s;
        /* background: linear-gradient(#FA6D22, black); */
    }

    @keyframes edu {
        from {
            /* background: linear-gradient(#F89E2E, #FA6D22); */
            transform: translateY(0px);
        }

        to {
            /* background: linear-gradient(#F89E2E, ); */
            transform: translateY(-10px);
        }
    }

    #education .box4 h4 {
        display: none;
    }

    #education .boxinfo4 {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        /* background-color: rebeccapurple; */
    }

    #education .boxTitle4 {
        color: rgba(255, 255, 255, 0.705);
    }

    #education .boxinfo4 .marks4 {
        background: -webkit-linear-gradient(#F89E2E, #FA6D22);

        font-weight: 700;
    }

    #education .boxinfo4 .year4 {
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.358);
        font-style: italic;
        margin-top: 3px;
    }

    .hr-links {
        display: block;

    }

}